<!DOCTYPE html>
<!-- Mi primera página -->
<html>
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1 style="text-align: center;background-color: blue;color: white">Mis Autos</h1>
        <a href="/">TechShop"</a>|<a href="ejemplo2">Mis autos</a>
        <h2>Lunes</h2>
        <img src="../static/img/download.jpeg" width="300" alt=""/>
        <h2>Sábados</h2>
        <img src="https://ichef.bbci.co.uk/ace/ws/640/cpsprodpb/6B34/production/_94244472_9.jpg.webp" alt=""/>
    </body>
</html>
