<!DOCTYPE html>
<!-- Mi primera página -->
<html>
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <header>
            <nav>
               <a class="logo nav-link" href="/">TechShop"</a>
               <ul class="nav-menu">
                   <li class="nav-menu-item"><a class="nav-link nav-item" href="/ejemplo2">Mis autos</a></li>
                   <li class="nav-menu-item"><a class="nav-link nav-item" href="/Multimedia">Multimedias</a></li>
                   <li class="nav-menu-item"><a class="nav-link nav-item" href="/iframe">iframe</a></li>

               </ul>
            </nav>
        </header>
        <h1 style="text-align: center;background-color: blue;color: white">Mis Autos</h1>
        <a href="/">TechShop"</a>|<a href="ejemplo2">Mis autos</a>
        <h2>Lunes</h2>
        <img src="/img/download.jpeg" width="300" alt=""/>
        <h2>Sábados</h2>
        <img src="https://ichef.bbci.co.uk/ace/ws/640/cpsprodpb/6B34/production/_94244472_9.jpg.webp" width="300" alt=""/>
    </body>
</html>
