<!DOCTYPE html>
<!-- Mi primera página -->
<html>
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
               <a class="logo nav-link" href="/">TechShop"</a>
               <ul class="nav-menu">
                   <li class="nav-menu-item"><a class="nav-link nav-item" href="/ejemplo2">Mis autos</a></li>
                   <li class="nav-menu-item"><a class="nav-link nav-item" href="/Multimedia">Multimedias</a></li>
                   <li class="nav-menu-item"><a class="nav-link nav-item" href="/iframe">iframe</a></li>

               </ul>
            </nav>
        </header>
        <aside>
            <h1>Techshop</h1>
            <p>Cada semana la tienda hace rifas entre sus clientes</p>
        </aside>
        <section>
            <h2>Su tienda en linea</h2>
            <p>El mejor lugar para comprar productos de tecnologia del planeta</p>
        </section>
        <footer>Techshop 2025 &COPY; Todos los derechos reservados</footer>
    </body>
</html>
